<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="connectionMaker" class="study.tobi.spring3.chapter1.study.tobi.spring3.HConnectionMaker" />-->

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://192.168.0.4:3306/spring3?useSSL=false" />
<!--        <property name="url" value="jdbc:mysql://192.168.0.95:3306/spring3?useSSL=false" />-->
        <property name="username" value="scott" />
        <property name="password" value="tiger" />
    </bean>
    <bean id="userDao" class="study.tobi.spring3.chapter5.user.dao.UserDaoJdbc">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="accountDao" class="study.tobi.spring3.chapter5.user.dao.AccountDao">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="messageDao" class="study.tobi.spring3.chapter5.user.dao.MessageDao">
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>